# Telegram Bot Configuration
TELEGRAM_TOKEN=your_token_here_8671946131:AAHI3BAwm0cLKgq90dnRo9TACivVMNH7aYg

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=5000

# Database
DATABASE_PATH=users.db

# Logging
LOG_LEVEL=INFO
